[2018-11-20 17:52] ramiromagno opened #1 "get_snp_by_id and get_snp_by_location not working for rs35252396 and rs6470588"
[rs35252396](/singleNucleotidePolymorphisms/rs35252396) and [rs6470588](https://www.ebi.ac.uk/gwas/rest/api/singleNucleotidePolymorphisms/rs6470588) return more than one hit in `locations::_links::snps` where only one was (erroneously) presumed:

[code]
and

[code]

I need to write a patch here: https://github.com/ramiromagno/gwasrapidd/blob/b062b9cb469e5470e457065c3e1a1c751f8f3589/R/snp.R#L200-L2

[2018-11-21 00:08] ramiromagno commented on #1
This issue was first noted with:

[code]

[2019-07-13 13:08] ramiromagno opened #3 "Refactor parsing functions to use `purrr::pluck()`"
Refactor all those parsing functions in files parse-*.R to use `purrr::pluck()` so that we deal with missing elements gracefully: https://adv-r.hadley.nz/subsetting.html#subsetting-oob.

[2019-10-15 08:00] ramiromagno opened #4 "`cols` is now required. Please use `cols"
`get_variants()` is throwing all these warnings:

[code]
See: https://community.rstudio.com/t/cols-is-now-required-please-use-cols/40350

Check `tidyr::unnest()` usage.

[2019-10-15 13:02] #4 closed

[2019-12-19 08:22] jennysjaarda opened #5 "Bug in example"
There seems to be a bug in the example on the github README.md.
It all works until the following: `variants <- get_variants(study_id = 'GCST002305')`
Then I get the error:
[code]

[2019-12-19 09:03] ramiromagno commented on #5
Thank you for reporting this @jennysjaarda!

A quick look indicates that there's been a change on the API server side... I will look into this today.

[2019-12-19 10:37] jennysjaarda commented on #5
Fantastic, thanks! Since I wasn’t able to follow through with the example, I was just wondering - is this package able to extract formatted full GWAS summary stats from the catalog? They can be downloaded directly from GWAS catalogue, but often they are not consistently formatted, so it would be great to easily access consistently formatted summary stats. Is this package designed for this? Thanks

[2019-12-19 11:03] ramiromagno commented on #5
Hi @jennysjaarda: unfortunately this package won't retrieve the summary stats. I am about to start a new package that will address that question indeed in the next month. The GWAS Catalog actually has separated the two databases, so summary statistics is provided as a separate service, having its own REST API; given that the two are somewhat different I think it is best to have separate clients to

[2019-12-19 15:44] ramiromagno commented on #5
@jennysjaarda:
It seems the recent changes to the REST API are more extensive than I expected. The issue here specifically reported should not be too hard to solve but there are other problems popping up now... I have already asked the GWAS Catalog team by email to clarify what were the changes made to server to fully assess what will need fixing. I am sorry for the trouble! It seems you were the

[2019-12-21 02:22] ramiromagno commented on #5
@jennysjaarda:
The GWAS Catalog got back to me and seemingly they have inadvertently committed changes to the release branch that led to these breaking changes. Meanwhile they have already to revert these changes, and it seems to me that gwasrapidd is working again. Can you confirm that it works for you too so that I can close this issue?

[2020-01-08 12:11] ramiromagno commented on #5
@jennysjaarda : can you confirm this issue is now solved for you?

[2020-01-31 16:30] #5 closed

[2020-02-18 22:25] tzup opened #6 ""get_variants" query error"
[code]
results in error:
[code]

[2020-02-19 00:41] ramiromagno commented on #6
Hi @tzup :

Thank you for reporting this.

Could you please paste the output of `sessionInfo()`?

[2020-02-19 00:47] ramiromagno commented on #6
In my environment your query works:

[code]

[2020-02-19 01:48] ramiromagno commented on #6
@tzup: can you please check if your version of the package tidyr is lower than `0.8.3.9000`?

[2020-02-19 17:45] tzup commented on #6
Hi Ramiro,

No worry. It turns out that I did not keep my libraries up to date.

Thank you for getting back to me 😊

Tzu Lip Phang PH.D
Associate Professor of Bioinformatics
Director, Translational Informatics Computational Resources (TICR)
Colorado Center for Personalized Medicine (CCPM)
University of Colorado, Department of Medicine
Office: Building 500 5th Floor East Wing Q20-E5324
Phone: 303-7

[2020-02-19 18:29] ramiromagno commented on #6
My pleasure. Don't hesitate to contact me if you need further help.

[2020-02-19 18:29] #6 closed

[2020-02-27 00:55] ramiromagno opened #7 "Error in as.vector(x) : no method for coercing this S4 class to a vector"
Note to self:

[code]
works seemingly fine.

On the other hand,

[code]
result in this error:
[code]
Which is, probably, a symptom of S4 dispatch using the wrong generic.

See this discussion here: https://r.789695.n4.nabble.com/Conflicting-definitions-for-function-redefined-as-S4-generics-td4687570.html.

[2020-07-22 17:10] ramiromagno opened #8 "Functions for identifier mapping needed"
Functions mapping between study, association, variant and trait identifiers are needed.

Something like:

- `study_id_to_association_id()`
- `association_id_to_study_id()`
- `study_id_to_variant_id()`

etc.

[2020-10-29 18:08] MattCloward opened #9 "Regular expression in function is_study_id no longer works for newest studies"
Newer studies have ID numbers with more than 6 digits. As of today, October 29, 2020, the highest number of digits in a study ID is 8. However, the regular expression checking whether a string is a study ID or not has 6 as the max number of digits in a study ID. This should be an easy fix, but a more robust workaround may be necessary in the future.

https://github.com/ramiromagno/gwasrapidd/blob/

[2020-10-29 18:23] ramiromagno commented on #9
Thank you @MattCloward for reporting this problem.

I will fix it soon.

[2020-10-29 18:45] #9 closed

[2020-10-29 18:56] MattCloward commented on #9
Thank you so much! That was lightning fast!

[2020-10-29 18:58] ramiromagno commented on #9
You're welcome!

[2020-11-14 07:45] mightyphil2000 opened #10 "Link association_id, study_id and ancestry_id"
Hi there

Thanks for creating a lovely package!

Is there a way to retrieve associations searching on reported trait and then linking the associations to study_id and ancestry?
This is what I do at the moment:
1. get_studies(reported_trait = "colorectal cancer")
2. Then I loop the get_associations() function over the study_ids retrieved from the first step.
3. I'd now like to link the associations

[2020-11-15 02:45] ramiromagno commented on #10
Is this what you are looking for?

[code]
Please note that the `study_id` and `association_id` are GWAS Catalog identifiers, and are absolute identifiers, meaning they are unique in the whole database. The `ancestry_id` is a dummy counter used only to distinguish different ancestries, so globally, you'd need to think of the pair `study_id` and `ancestry_id` together to uniquely define an ancestry

[2020-11-19 18:43] MattCloward opened #11 "How to get non-unioned results when using a list as a parameter?"
Hello!

When using a get function, is it possible to non-unique results when using a list as a parameter? Here is what I am trying to do:
[code]
[code]

The set operation appears to work only when there are multiple parameters passed into a get function (ie: study_id and association_id). Is there anyway to keep all results when passing in a list as a parameter instead of just unique values?

Thank

[2020-11-19 19:17] MattCloward commented on #11
I found a temporary solution, but if it means doing a query for every association_id in the database, this is a bad idea. Do you have any suggestions for improving this code so I don't do so many queries?
[code]

[2020-11-19 20:43] ramiromagno commented on #11
Hi @MattCloward!

Thank you for using gwasrapidd. I hope you find it useful.

Regarding your question: unfortunately, the GWAS REST API service does require us to perform various queries, one for each `association_id` as you did. In the future, I will add a set of functions to assist the user in these cases.

I have rewritten your code in a way that I think is a bit more idiomatic. Hopefully it do

[2020-11-19 23:26] MattCloward commented on #11
Wow, this is amazing! Thanks for updating my code for me and thanks for keeping this library alive. It's unfortunate that it's the API of the GWAS catalog itself that's the limitation, but I we can work with that. Thanks again!

[2020-11-19 23:58] ramiromagno commented on #11
You're welcome! May I close this issue?

[2020-11-19 23:59] MattCloward commented on #11
Yes, thank you.

[2020-11-19 23:59] #11 closed

[2020-11-25 11:17] mightyphil2000 commented on #10
thank you very much. I also want to include SNP rsid and the genetic associations results. I guess I just have to tweak this section of the code to get that right?

[code]

[2020-12-02 15:19] abhiachoudhary opened #12 "Problems with ensembl_id"
Hi,

This seems like a great package but I haven't been able to use it. The direct installation of the package didn't work (because LEGACY variable in unnest function was being set to TRUE). So I manually sourced all the files and corrected this part in utils.R. The functions however still don't run. I keep getting the error of the form:
"Column `ensembl_id` must be length x or y, not z"
where x,

[2020-12-02 15:39] ramiromagno commented on #12
Hi @abhiachoudhary, could you please share the code you've tried that generates that error?

[2020-12-02 16:38] abhiachoudhary commented on #12
The code is simply sourcing all the files in R, and then get_variants() function.

source("browser.R")
source("class-associations.R")
source("class-studies.R")
source("class-traits.R")
source("class-variants.R")
source("data.R")
source("ebi_server.R")
source("generics.R")
source("get_associations.R")
source("get_metadata.R")
source("get_studies.R")
source("get_traits.R")
source("get_variants.R")
s

[2020-12-02 16:41] ramiromagno commented on #12
I mean the code you were trying before coming up with this alternative solution.

[2020-12-02 16:57] abhiachoudhary commented on #12
Error: 'unnest_legacy' is not an exported object from 'namespace:tidyr'

I am using tidyr 0.8.1 version.

[2020-12-02 17:12] ramiromagno commented on #12
Hi @abhiachoudhary ,

Thank you for reporting this, this is a bug indeed. I will fix it quickly.

[2020-12-02 17:42] ramiromagno commented on #12
@abhiachoudhary : would you be okay with updating your tidyr version package. I am planning on making gwasrapidd dependant on tidyr (> 0.8.99).

[2020-12-02 18:03] abhiachoudhary commented on #12
Yes, of course!

[2020-12-02 18:05] ramiromagno commented on #12
Okay, nice. Then it should suffice to reinstall gwasrapidd.

Please try again:

[code]

and let me know if it is working now as expected.

[2020-12-02 18:11] abhiachoudhary commented on #12
I removed and reinstalled but now I am getting the same error as before when I was sourcing the R files manually.

# gwasrapidd removed first

Downloading GitHub repo ramiromagno/gwasrapidd@master
Installing package into ‘C:/Users/abhishekc/Documents/R/win-library/3.5’
(as ‘lib’ is unspecified)
* installing *source* package 'gwasrapidd' ...
** R
** data
*** moving datasets to lazyload DB
** inst
*

[2020-12-02 18:13] ramiromagno commented on #12
Have you restarted your R session? Could be a problem of still having the old version of the package loaded. Please try to quit your R session and start anew. Then run `library(gwasrapidd)`, and then your example code.

[2020-12-02 18:31] abhiachoudhary commented on #12
Yes the gwasrapidd version is correct and I do restart each time.
I am realizing this may be due to other older version of other packages... will give an update soon

[2020-12-03 12:59] ramiromagno commented on #12
@abhiachoudhary: any news?

[2020-12-03 12:59] abhiachoudhary commented on #12
While typing this I saw your message :)
The command get_variant() works now. The problem was my version of R was not up-to-date which led to older versions being used of many packages that your code requires. Thank you for your help!

On an unrelated note, and not an issue but just something I may have overlooked in the documentation, how do I use the functions like get_variants_by_...(), and get_

[2020-12-03 13:08] ramiromagno commented on #12
You don't need to use the functions `get_variants_by_...()` or `get_associations_by_...()`. These functions are internal to the package and therefore not exposed to the user. They allow you to retrieve data by a single criterion only.

The four main functions: get_studies(), get_associations(), get_variants(), and get_traits() do it all, i.e., they allow you to retrieve data by a combination of av

[2020-12-03 13:19] abhiachoudhary commented on #12
OK. For some reason, I thought there are additional options in _by_ functions but this makes sense. Thanks!

[2020-12-03 13:21] #12 closed

[2020-12-09 17:38] alexb-84 opened #13 "Error in get_studies"
Hi there,

I found an issue happening during the parsing of the JSON object returned by the GWAS Catalog API. When a study has `"diseaseTrait": null` , the `gwasrapidd::get_studies` function raises the following error:

[code]

This function call reproduces the error:

[code]

I am running `gwasrapidd 0.99.9` on `R 4.0.3`.

I guess a simple check on the JSON names (e.g. `!is.null(obj$content$studi

[2020-12-09 18:43] ramiromagno commented on #13
Hi @alexb-84,

Thank you for reporting this issue!

I will look into it soon.

[2020-12-09 19:35] ramiromagno commented on #3
Issue #13 is a particular instance of this problem.

[2020-12-09 19:51] #13 closed

[2020-12-09 19:52] ramiromagno commented on #13
Hi @alexb-84,

Could you please reinstall gwasrapidd and test whether this issue has been indeed resolved?

[2020-12-10 08:58] alexb-84 commented on #13
Hi @ramiromagno,

Thanks for the fast fix. I just reinstalled `gwasrapidd` and tested it. I can confirm now it is working fine on my side.

Best,

Ale

[2020-12-10 14:04] ramiromagno commented on #13
Thank you for the feedback!

[2020-12-27 21:49] ramiromagno opened #14 "Update documentation of `exists_variant()`"
Documentation of `exists_variant` is not up to date: https://rmagno.eu/gwasrapidd/reference/exists_variant.html. The second example in section Examples is no longer correct:

[code]

It returns `TRUE` now. Just need to pick another made-up rsId to have an example that returns `FALSE`.

[2020-12-29 14:18] ramiromagno opened #15 "Fix documentation of `cytogenetic_bands`"
https://github.com/ramiromagno/gwasrapidd/blob/d51d07a2d6e97dff1d8ac601546f401ef0ac7977/R/data.R#L25

should be 8 variables, not 7.

[2020-12-29 17:30] ramiromagno opened #16 "Unexpected error in get_variants_by_efo_id: Error: length(efo_trait) not greater than 0"
[code]

[code]

That call should not err, but only trigger a warning.

The problem comes from not asserting the `NULL` value in: https://github.com/ramiromagno/gwasrapidd/blob/d51d07a2d6e97dff1d8ac601546f401ef0ac7977/R/get_variants.R#L181

and moving on to the call `get_variants_by_efo_trait` empty-handed.

A manifestation of issue #3 .

[2020-12-29 19:11] ramiromagno opened #17 "Make functions that search by either `efo_trait` or `reported_trait` case sensitive again"
Remove the wrap in `tolower()` in these cases:

## get_studies_by_efo_trait

https://github.com/ramiromagno/gwasrapidd/blob/700c86f7f384fd14b2973aec045a9663b05144b8/R/get_studies.R#L441

## get_studies_by_reported_trait

https://github.com/ramiromagno/gwasrapidd/blob/700c86f7f384fd14b2973aec045a9663b05144b8/R/get_studies.R#L491

## get_variants_by_efo_trait

https://github.com/ramiromagno/gwasrapi

[2020-12-30 21:37] #8 closed

[2020-12-30 21:37] #16 closed

[2020-12-30 21:37] #17 closed

[2020-12-30 21:46] #14 closed

[2021-02-19 21:14] MattCloward opened #18 "Very Small P Values are Rounded to 0"
A few of the studies in the GWAS catalog have p values that are smaller than 1e-300 and can even be as small as 1e-500 or 1e-600. When I use the "get_associations" function, these p values are rounded to 0.

Ex: for the study "GCST001884", rs10737680 and rs10490924 have p values of 1x10-434 and 4x10-89 respectively.
(Source: https://www.ebi.ac.uk/gwas/studies/GCST001884)

However, when I run the f

[2021-02-19 22:58] ramiromagno commented on #18
Hi @MattCloward:  This rounding has to do with the representation of numbers in R. See `?.Machine`, particularly `.Machine$double.xmin`.

Now, gwasrapidd does provide you access to these p-values if you inspect the mantissa and the exponent columns, see example below. In these cases with such low p-values, you should perhaps ask yourself if you shouldn't floor the number anyways... p-values of tha

[2021-02-21 04:01] MattCloward commented on #18
Thank you very much for this detailed explanation, including work arounds and especially reasons not to do any work arounds! The p values I have been looking at are waaay more than astronomically low (4x10^22 stars in the universe) https://robertkaplinsky.com/work/stars-in-the-universe/

Thanks for your help!

[2021-02-21 04:01] #18 closed

[2021-06-03 14:47] mightyphil2000 opened #19 "get_associations using reported trait"
Is it possible to search for associations using the reported trait? I checked and it does not seem possible. The `get_associations()` function only allows one to search on `efo_trait` and `efo_id` but not `reported_trait`.

[2021-06-03 17:12] ramiromagno commented on #19
Hi @mightyphil2000,

Thank you for your question.

Indeed, the REST API service does not provide an endpoint that can directly retrieve associations by reported trait. The only endpoints that allows searching directly by the authors' reported trait are the studies-related endpoints, so we need to get first the studies that are associated with your reported trait of interest, and then search for as

[2021-06-04 12:52] mightyphil2000 commented on #19
Thanks Ramiro,

I think that solution works if reported trait is the same across associations within a study. A problem arises if reported trait is not consistent with study. For example, say I'm interested in trait X. I identify Study X by searching on trait X. But imagine Study X also investigated trait Y. Therefore get_associations on study ID will retrieve associations for trait X and trait Y

[2021-06-04 12:58] mightyphil2000 commented on #19
I just checked and actually I think your solution does work because it seems like reported trait is invariant within study ID. I made the mistake of thinking of study as study publication but actually we are referring to the GWAS catalog study IDs (starting with "GC..."), which vary within study publication. Can you confirm that reported trait is invariant within GWAS catalog study ID?

[2021-06-04 13:12] ramiromagno commented on #19
Indeed, each GWAS Catalog study should be only associated with one reported trait. So, if the same publication investigated several traits, then will you likely have several study IDs in the catalog originating from that same publication.

I don't know your application of these searches, but make sure that you prefer the `reported_trait` over the EFO trait. As you might know, the reported trait is

[2021-06-04 15:25] mightyphil2000 opened #20 "discrepancies between get_variant and get_association"
I was expecting these two different search strategies to identify the same variant IDs but they don't. Do you know why they perform differently?

[code]

**Strategy 1. identify variant IDs using combination of get_studies and get_associations**
[code]

**Strategy 2. identify variant IDs using get_variants**
[code]
Why are the two sets of variants different?

[2021-06-04 15:57] ramiromagno commented on #20
Hi @mightyphil2000:

The example is not complete because the definition of the variable `efo_id` is missing. Could you provide that? May I suggest you use the [reprex](https://github.com/tidyverse/reprex) function to generate the minimal working example?

Furthermore, by searching by all those criteria simultaneously, do you want to retrieve matches that fulfill all criteria, or that fulfill (at l

[2021-06-04 16:00] mightyphil2000 commented on #20
Sorry about. I've updated the original post with efo_id set to NULL (which is how I've been setting it).

[2021-06-05 01:03] ramiromagno commented on #20
Okay, thank you. I will take a look at it tomorrow.

[2021-06-05 13:14] ramiromagno commented on #20
Hi @mightyphil2000:

I just looked into your example, and I do not have a good explanation for why we are seeing these differences; we should be getting the same variants either way. As far as I could inspect into gwasrapidd code, there seems to be no problem with gwasrapidd itself. So I forwarded your example to the GWAS Catalog team hoping to get some clarification on this issue. I will let you

[2021-06-07 13:47] ramiromagno commented on #20
Hi @mightyphil2000,

I got a reply from Elliot Sollis (with the GWAS Catalog team).

#### Short answer

Use `gwasrapidd::get_variants()` function.

#### Explanation

Like you, I too had the expectation that both approaches would retrieve the same results. But apparently there are historical reasons that explain these differences for a subset of the older data in the Catalog.

Here is a post of the

[2021-06-07 14:19] mightyphil2000 commented on #20
Thanks @ramiromagno. I see now. A problem with the get_variants function is that you can't search on reported trait (I guess because the older studies are not sufficiently annotated at the association level?). I am concerned that by only searching on EFO I might miss some associations. This could happen when the EFO is less specific than the reported trait. For example, rs4770891-? is associated w

[2021-06-07 15:44] ramiromagno commented on #20
Hi @mightyphil2000:

I have divided this answer into three points.

### Point 1

I am a bit confused now. You say you cannot search on `report_trait`
with the `get_variants()` function, but you can, right?

[code]

### Point 2

I did not quite understand your “but” clause. Regardless, note that the
variant you mentioned, i.e., `rs4770891` is present in both sets of
variants above:

[code]

### Poi

[2021-06-07 15:57] mightyphil2000 commented on #20
Sorry I confused the get_variant with get_association function. The get_association function does not allow one to search on reported trait. I should have said "and" instead of "but" in point 2. I'll try to put some code together to illustrate what I mean in point 3. Thanks!

[2021-06-07 16:40] mightyphil2000 commented on #20
Actually I think this specific issue is now resolved. I can see that in this particular example get_variants is the best option. The new problem I was trying to explain is actually to do with the get_associations function. I'm therefore going to post this issue on the get associations issue page I opened the other day.

[2021-06-07 16:48] ramiromagno commented on #20
Okay, I will close this issue then.

[2021-06-07 16:48] #20 closed

[2021-06-07 17:11] mightyphil2000 opened #21 "Retrieve all genetic associations searching on reported trait and efo simultaneously"
I'd like to be able to retrieve genetic associations searching on reported trait and EFO at the same time (ie all genetic associations that match either the reported trait or EFO). However, get_associations does not allow searching on reported trait. A workaround is to first search on get_study using reported trait (which is invariant within gwas catalog study ID) and then retrieve the genetic ass

[2021-06-07 21:14] ramiromagno commented on #21
Hi Philip:

Indeed I think your approach is indeed the best approach.

Take a look at my refactoring of your code below and how I use the `union()` function in a slightly different way:

[code]

[2021-06-08 09:56] mightyphil2000 commented on #21
Thanks Ramiro!

By the way, I wanted to let you know that I'm developing a new package called CheckSumStats (https://github.com/MRCIEU/CheckSumStats), which calls gwasrapidd for some of it's tests. Is it ok if I include the above get_associations_by_trait function ?

[2021-06-08 10:29] ramiromagno commented on #21
Hi Philip:

You are most welcome to use all code.

Well spotted that bug!

Interesting that package of yours. I will have a look at it later. Thanks!

[2021-06-11 16:32] ramiromagno commented on #21
Hello Philip:

Is this issue resolved? May I close it?

[2021-06-11 16:32] ramiromagno commented on #19
Hello Philip:

May I close this issue?

[2021-06-11 17:01] mightyphil2000 commented on #21
Yes thanks Ramiro!

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Ramiro Magno ***@***.***>
Enviado: Friday, June 11, 2021 5:32:18 PM
Para: ramiromagno/gwasrapidd ***@***.***>
Cc: Philip Haycock ***@***.***>; Author ***@***.***>
Asunto: Re: [ramiromagno/gwasrapidd] Retrieve all genetic associations searching on reported trait and efo simultaneously (#21)

Hel

[2021-06-11 17:01] mightyphil2000 commented on #19
Yes thanks!

Obtener Outlook para iOS<https://aka.ms/o0ukef>
________________________________
De: Ramiro Magno ***@***.***>
Enviado: Friday, June 11, 2021 5:33:04 PM
Para: ramiromagno/gwasrapidd ***@***.***>
Cc: Philip Haycock ***@***.***>; Mention ***@***.***>
Asunto: Re: [ramiromagno/gwasrapidd] get_associations using reported trait (#19)

Hello Philip:

May I close this issue?

—
You are receiv

[2021-06-11 17:17] ramiromagno commented on #21
Cheers!

[2021-06-11 17:17] #21 closed

[2021-06-11 17:17] ramiromagno commented on #19
Thanks!

[2021-06-11 17:17] #19 closed

[2021-07-09 04:53] ramiromagno commented on #10
I am closing this due to inactivity.

[2021-07-15 16:23] jinjinzhou opened #22 "NCBI build conversion"
No information about the build of GWAS catalog which is in build hg38.
Does your package support the liftover conversation to, for example, hg19?

[2021-07-15 16:40] ramiromagno commented on #22
Hi Jin,

Thank you for your question.

So, no, gwasrapidd won't do the liftover for you. But it is not too hard to do with Bioconductor's [liftOver](https://www.bioconductor.org/packages/release/workflows/html/liftOver.html).

If you would like help with lifting over some gwasrapidd results, perhaps you can provide a code example of what you trying to achieve and I will happy to help.

[2021-07-15 16:48] jinjinzhou commented on #22
Thanks much for your prompt reply. I am reading this page:
https://www.bioconductor.org/packages/release/workflows/vignettes/liftOver/inst/doc/liftov.html
And liftover seems to start with GRanges object. After query using gwasrapidd, they are all tibbles, e.g.,
my_associations <-  get_associations(efo_trait = 'high density lipoprotein cholesterol measurement')
variants <- get_variants(efo_trait =

[2021-07-15 17:52] ramiromagno commented on #22
See if this helps:

[code]

[2021-07-15 18:07] ramiromagno commented on #22
The same but with some output interwoven:

[code]

[2021-07-15 18:27] jinjinzhou commented on #22
Thanks much! This is very helpful. Let me try and see if there are any more questions.
Thanks again. Jin

From: Ramiro Magno ***@***.***>
Date: Thursday, July 15, 2021 at 11:07 AM
To: ramiromagno/gwasrapidd ***@***.***>
Cc: Zhou, Jin - (jzhou) ***@***.***>, Author ***@***.***>
Subject: [EXT]Re: [ramiromagno/gwasrapidd] NCBI build conversion (#22)

External Email

The same but with some output inte

[2021-07-19 23:13] ramiromagno commented on #22
Hi Jin:

May I close this issue now?

[2021-07-20 00:48] jinjinzhou commented on #22
Yes, thank you for providing such a useful and easy to work with package!

[2021-07-20 00:53] ramiromagno commented on #22
You're welcome! Let me know once your analyses are out and published.

[2021-07-20 00:53] #22 closed

[2021-09-09 14:40] jiyue1214 opened #23 "Extract other information using gwasrapidd"
Hi,

Thanks a lot for developing the package. I am enjoying using the gwasrapidd to extract information from GWAS catalog API.

Could I know whether I can define other columns to be extracted or only the column in `class?studies`  (for example, besides reported traits in the table, I also want to extract curated traits and background traits like the webpage search result) ?

Thank you for your hel

[2021-09-09 15:47] ramiromagno commented on #23
Hi @jiyue1214:

Thank you for your question.

Unfortunately curated traits and background traits retrieval is not yet implemented in gwasrapidd.

This feature has been recently added to the GWAS Catalog, August this year I believe, and still has to be implemented at the REST API level which gwasrapidd uses to retrieve the data (see the Section API in https://ebispot.github.io/gwas-blog/background-

[2021-09-09 15:47] #23 closed

[2021-10-08 07:55] peranti opened #24 "Is it possible to add additional gene information?"
Hi Ramiro,  Thanks for this amazing package.

Would it be possible to add *Biotype* in the **association object**?

For example, *GATA3* is of *protein_coding* type. Source: https://www.ebi.ac.uk/gwas/genes/GATA3

Thanks.

[2021-10-08 08:01] ramiromagno commented on #24
Hi Pradeep,

Thank you for your question! Let me look into that to see if that piece of information is provided by the GWAS REST API.

[2021-10-08 10:44] ramiromagno commented on #24
Hi again Pradeep,

It seems that that information about the genes is only provided at the GWAS Catalog website, not via REST API at the moment.

I looked a bit though how the front-end website retrieves that information, and I found the URL being requested. So I wrote a bit of a hack to get that info into R: the `get_gene()` function. Then `get_genes()` is just a vectorised version of `get_gene()`

[2021-11-21 14:56] #24 closed

[2021-11-21 14:59] ramiromagno commented on #10
I am closing this due to inactivity.

[2021-11-21 14:59] #10 closed

[2021-11-21 15:00] #15 closed

[2021-11-23 14:47] mightyphil2000 opened #25 "Response code 500 when using get_studies()"
When I run:

gwasrapidd::get_studies(reported_trait = "Glioma")

I get this error message:
Warning message:
In gc_request_all(resource_url = resource_url, base_url = base_url,  :
  The request for https://www.ebi.ac.uk/gwas/rest/api/studies/search/findByDiseaseTrait?diseaseTrait=Glioma failed: response code was 500.

Do you know why I am getting this error?

[2021-11-23 14:48] ramiromagno commented on #25
I will look into it!

[2021-11-23 15:18] ramiromagno commented on #25
It seems it might have been a GWAS Catalog server fluke. Just tried it now and it seems to be working. Could you try it yourself again?

[code]

<sup>Created on 2021-11-23 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2021-11-23 16:05] mightyphil2000 commented on #25
Thanks Ramiro

Yes it's working now!

bw
philip

________________________________
From: Ramiro Magno ***@***.***>
Sent: 23 November 2021 15:18
To: ramiromagno/gwasrapidd ***@***.***>
Cc: Philip Haycock ***@***.***>; Author ***@***.***>
Subject: Re: [ramiromagno/gwasrapidd] Response code 500 when using get_studies() (Issue #25)

It seems it might have been a GWAS Catalog server fluke. Just tried it

[2021-11-23 16:08] ramiromagno commented on #25
Great, thanks!

[2021-11-24 12:11] mightyphil2000 commented on #25
Hi Ramiro

I'm getting the same error again.

Warning message:
In gc_request_all(resource_url = resource_url, base_url = base_url,  :
  The request for https://www.ebi.ac.uk/gwas/rest/api/studies/search/findByDiseaseTrait?diseaseTrait=Glioma failed: response code was 500.

[2021-11-24 13:35] ramiromagno commented on #25
Hi Philip,

When I try it from my machine, it seems to be working okay; so I am guessing that the problem is with the GWAS Catalog server. It might be unstable for some reason at this time... Perhaps they are doing some sort of maintenance on the REST API. I don't know... My advice is to send an email to them asking about this issue: gwas-dev@ebi.ac.uk. Feel free to put in me in Cc for me to accom

[2021-11-25 11:57] ramiromagno commented on #25
Hi GWAS Devs,

I am getting 500 response errors all over again...

https://www.ebi.ac.uk/gwas/rest/api/studies
https://www.ebi.ac.uk/gwas/rest/api/efoTraits/EFO_0005537
etc...

On Wed, 24 Nov 2021 at 12:11, mightyphil2000 ***@***.***>
wrote:

[2021-11-25 17:35] peranti opened #28 "parsing issue while using get_variants()"
Hi @ramiromagno

I used the `get_variants()` function using the gene list and got the following error.

[code]

Are you aware of this issue and have any workaround?

Meanwhile, I will try finding a workaround. Thanks for this fantastic package.

[2021-11-25 17:42] ramiromagno commented on #28
Hi @peranti:

It is the first time I am seeing this type of error. It seems that the response from the GWAS Catalog server was not completed, hence the End of File (EOF) error.

I noticed the that GWAS Catalog has been pretty bumpy today. I am not sure what's going on. I have sent a couple of emails to the GWAS Dev Team, but I haven't got a response yet.

I am not sure your problem is related to t

[2021-11-25 17:46] peranti commented on #28
Thanks, @ramiromagno, for the quick reply.

I am now checking the command with ten genes and will update you in case of any issues. I can already tell you that `eta: 28m`.

It is better to run the command later once the GWAS Catalog REST API service is normal. But how can I check it? 🤔

Otherwise, rerun using loop with wait time in between two genes?

[2021-11-25 17:55] ramiromagno commented on #28
I don't know how long your list of genes is. But I am guessing that if it's in the order of thousands, you might be hammering their server too strongly and they might have increased the time to respond to your queries.

As you said, if that is the case, it might be better to wait a few hours and try again. But then, split your queries such that each call to `get_variants()` has only a few genes ea

[2021-11-25 17:57] peranti commented on #28
Sure, I have around 200 genes, and I suppose it is acceptable in one go after some time.

[2021-11-25 18:04] ramiromagno commented on #28
I would still split your queries though. The GWAS Catalog team does not have any details regarding API throttling, but I am guessing this might be your problem.

[2021-11-26 11:15] peranti commented on #28
I encounter the following error when working with a single gene:

[code]

The server is reachable, though.

[code]

[2021-11-26 11:22] ramiromagno commented on #28
Hi @peranti:

I am sorry you are having all these issues. I have been experiencing them myself too. I've just sent another email to the GWAS Catalog team. There is nothing else I can do I am afraid.

If you want to put some extra pressure, here's their email: gwas-info@ebi.ac.uk. :)

[2021-11-29 14:15] ramiromagno commented on #25
Hi Philip,

I got an update from the GWAS team. It seems that these downtime issues are now resolved. Please let me know if it is working for you.

[2021-11-29 14:15] ramiromagno commented on #28
Hi Pradeep,

I got an update from the GWAS team. It seems that these downtime issues are now resolved. Please let me know if it is working for you.

[2021-11-30 09:59] peranti commented on #28
Thanks, @ramiromagno, for getting in touch with the GWAS team.

I can now interact with the website using the functionalities of gwasrapidd, albeit very slow. However, this situation is not an issue and hence closing it.

[2021-11-30 09:59] #28 closed

[2022-01-11 23:25] #25 closed

[2022-01-13 17:23] Shicheng-Guo opened #29 "Gwascatcollect<-function(gene, chr=xx, start=xx, end=xx)"
Hi Ramiro,

I am wondering is there any function to collect GWAS records for given gene?

like: Gwascatcollect<-function(gene, chr=xx, start=xx, end=xx)

Thanks.

Shicheng

[2022-01-13 18:33] Shicheng-Guo opened #30 "GRASP: Genome-Wide Repository of Associations Between SNPs and Phenotypes"
Hi Ramiro,

Any plan to add GRASP to the package?

https://grasp.nhlbi.nih.gov/Overview.aspx

Thanks.

Shicheng

[2022-01-13 18:49] Shicheng-Guo commented on #30
another interesting dataset will be: https://genebass.org/

[2022-01-14 00:02] ramiromagno commented on #30
Hi Shicheng,

Thank you for your question and interest in `{gwasrapidd}`.

Those two sources of GWAS you mentioned are interesting. However, I do not have plans to provide access to them through gwasrapidd.

Generally speaking, you may access these types of sources in three distinct ways:

1. Access through a web app. This type of data access is more akin to end user access, i.e., of a more manual

[2022-01-14 00:11] Shicheng-Guo commented on #30
Agree with you Ramiro!! I am sure there will be some similar R packages coming out for GRASP and Genebass. Will notify you when I find them. Thank you for these impressive comments!!

Shicheng

[2022-01-14 00:29] ramiromagno commented on #30
You're welcome. The answer to your other question follows next. :)

[2022-01-14 00:29] #30 closed

[2022-01-14 00:39] ramiromagno commented on #29
Hi Shicheng,

Thank you for your question.

The GWAS data in the GWAS Catalog is divided into four "views", or GWAS Catalog Entities: studies, associations, variants and traits.

You may quickly check which functions allow you to get what by which criteria with gwasrapidd's cheatsheet: https://github.com/rstudio/cheatsheets/blob/main/gwasrapidd.pdf.

To search by gene or by genomic location, you h

[2022-02-06 01:34] ramiromagno commented on #29
Hi @Shicheng-Guo:

Did my answer above help? May I close this issue?

[2022-04-04 11:35] ramiromagno commented on #29
Closing due to inactivity.

[2022-04-04 11:35] #29 closed

[2022-06-07 17:47] totajuliusd opened #31 "The most efficient way to retrieve association results from a study?"
Hi, can you please tell me what would be the most efficient way to extract the following information for a particular study by study_id?

What I would like to end up with, would be a table with the following columns:

CHROM, POS, P, beta_or_OR,risk_allle (or REF and ALT),gene_name

I can do this using the following code. I havent used S4 objects before, and am sure there must be a simpler way of m

[2022-06-07 23:44] ramiromagno commented on #31
Hi Tota,

Thank you for your question.

Your code seems fine overall.

Let me just present a tidier approach that:

1. Relies on `dplyr::left_join()` to join tables (better than assuming that the number of rows across tables will match by position, in general they will not, although in your case it seems to work)
2. Genes are obtained from the `genes` table in the `associations` object, not from t

[2022-06-08 10:49] totajuliusd commented on #31
Thank you very much, when I said more efficient I meant tidier, so this is perfect and exactly what I wanted!

[2022-07-27 09:14] ramiromagno opened #32 "institutional logo not rendered in footer"
e.g. here https://rmagno.eu/gwasrapidd/articles/faq.html#5-genomic-coordinates-of-genomic-contexts-seem-to-be-wrong-

![snap](https://user-images.githubusercontent.com/19862384/181209898-b934b120-f6ec-4418-a045-f8bc95ca45fe.png)

check https://github.com/r-lib/pkgdown/issues/2020 for the solution.

[2022-07-27 09:15] ramiromagno opened #33 "revisit FAQ 5"
Check if it still applies:
https://rmagno.eu/gwasrapidd/articles/faq.html#5-genomic-coordinates-of-genomic-contexts-seem-to-be-wrong-

[2022-07-27 09:18] ramiromagno opened #34 "consider transitioning to the (not so) new pkgdown website template"

[2022-08-11 13:39] ramiromagno commented on #34
See the problems shown on
<https://cran.r-project.org/web/checks/check_results_gwasrapidd.html>.

See the "Found the following HTML validation
problems" NOTEs in the "HTML version of manual" check for the r-devel
debian checks results.

R 4.2.0 switched to use HTML5 for documentation pages.  Now validation
using HTML Tidy finds problems in the HTML generated from your Rd files
of the form

  <big>

[2022-08-11 16:26] #32 closed

[2022-08-11 16:28] ramiromagno commented on #34
Fixed in https://github.com/ramiromagno/gwasrapidd/commit/eb294ef1814681ae891cf2ae266d736ea3493dd1

[2022-08-11 16:28] #34 closed

[2022-08-31 12:28] ramiromagno opened #35 "Error: parse error: premature EOF in study responses"
As encountered by Theresia Handayani Mina,

There are SNPs triggering study JSON responses that are truncated which results in an error in `jsonlite::fromJSON()` , which in turn results in an error in `gwasrapidd:::gc_request()`.

The upstream issue: https://github.com/EBISPOT/goci-rest/issues/39.

[2022-10-10 19:09] james-cranley opened #36 "Response code was 500."
Hi, thank you for the useful package. When I run `get_associations()` for some SNPs (submitting one SNP at a time, but many in a row, in a for loop), I get an error 500. It seems this is when the request is too large.  Do you have any suggestions? Is is possible to return an error file giving me the variant_id which produced the 500 response? Thank you

[code]

[2022-10-10 19:37] ramiromagno commented on #36
Hi James,

Thanks for reporting this issue. I will look into it soon.

[2022-10-10 20:16] ramiromagno commented on #36
not sure if this is what you're trying to achieve... but here it goes:

[code]

[code]

[2022-10-11 06:53] james-cranley commented on #36
Hi Ramiro thanks for the speedy reply, with warnings on it told me the SNPs. It was only a small number of them. Thank you, the package is very helpful

[2022-10-11 06:53] #36 closed